.ReadableAlt {
  background-color: #f5f5f5 !important;
}

.ChoiceRow {
  height: 100% !important;
}

.mobile * .ChoiceRow > th {
  background-color: #f5f5f5 !important;
}

.dropdown-arrow.mobile {
  visibility: hidden !important;
}

.ChoiceRow:hover {
  background-color: rgb(242, 250, 255, 1) !important;
  height: 100% !important;
}

.mobile * .ChoiceRow > td {
  background-color: white !important;
}

.mobile * .ChoiceRow > td:hover {
  background-color: white !important;
}

.Bipolar * .mobile * .ChoiceRow {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  margin-bottom: 12px;
}

.bipolar-mobile-header {
  display: none !important;
  visibility: hidden !important;
  height: 0px !important;
}

.TextEntryBox.InputText {
  max-width: 80% !important;
  transform: translate(10%);
}
